body{
    font-family: sans-serif;
}
/* for mobile screen */

@media screen and (min-width: 400px) {

}

/* for desktop screen */

@media screen and (min-width: 960px) {
    .hidden-on-mobile{
        display: none;
    }
    .nav-links {
        display: inline;
        float: right;
        list-style-type: none;
    }

    .nav-links li {
        display: inline;
        margin: 10px;
    }

    h1{
        float: left;
    }
    .header-img{
        clear: both;
    }
}