body{
    font-family: sans-serif;
}
 /*for mobile screen */

@media screen and (min-width: 400px) {

}

/* for desktop screen */

@media screen and (min-width: 960px) {
    .hidden-on-mobile{
        display: none;
    }

    h1{
        float: left;
        margin: 0;
    }

    .nav-links {
        /*display: inline;*/
        float: right;
        list-style-type: none;
        clear: right;
        vertical-align: bottom;


    }

    .nav-links li {
        display: inline;
        margin: auto 10px;
        vertical-align: bottom;
    }

    .header-img{
        clear: both;

    }
}