body{
    font-family: sans-serif;
    width: 90%;
    margin: 0 auto;
}
 /*for mobile screen */

@media screen and (min-width: 400px) {

}

/* for desktop screen */

@media screen and (min-width: 900px) {
    .hidden-on-mobile{
        display: none;
    }

    h1{
        float: left;
        margin: 0;
    }

    .nav-links {
        /*display: inline;*/
        float: right;
        list-style-type: none;
        clear: right;
        /*vertical-align: bottom;*/
    }

    .nav-links li {
        display: inline;
        margin: auto 10px;
        /*vertical-align: bottom;*/
    }
    .header-img{
        /*text-align: center;*/
        /*display: block;*/
        /*margin:  auto;*/
    }
    .header-img>img{
        width: 890px;
        height: 385px;
        clear: both;
        display: block;
        margin: auto;
    }
    .main{
        float: left;
        width:60%;
    }
    .sub-section{
        float: left;
        width: 35%;
        font-style: italic;
    }
    footer{
        clear: left;
        /*position: relative;*/
        /*position: bottom left;*/

    }
}